{% for item in include.content %}
  <div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-{{item.border | default: 'no'}}">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">

      <style>
        .columns-pub {
          display: flex;
          justify-content: space-between;
        }
        .column-pub1 {
          width: 83%;
          font-size: 16px;
        }

        .column-pub2 {
          width: 13%;
          font-size: 16px;
          text-align: left;
        }

        @media (max-width: 768px) {
          .columns-pub {
            flex-direction: column;
          }
          .column-pub1 {
            width: 100%;
          }

          .column-pub2 {
            width: 100%;
            text-align: center;
          }
        }
      </style>

      <div class="columns-pub">

        <div class="column-pub1">
          <h4 id="{{ item.title | slugify }}">{{ item.title }}</h4>
          {%- if item.sub_title -%}<p><b>{{ item.sub_title | newline_to_br }}</b></p>{%- endif -%}
          {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}

          {%- if item.link -%}
            {% include a.html href=item.link class="link" %}
              {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
            </a>
          {%- endif -%}

          <p class="no-print aditional-links">
            {% for link in item.additional_links %}
              {% include a.html href=link.url class="" %}
                <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
              </a>
            {% endfor %}
          </p>
        </div>
        <div class="column-pub2">
          {%- if item.img -%}
            <img src="{{ item.img }}" alt="{{ item.sub_title }}" class="img-responsive">
          {%- endif -%}
        </div>

      </div>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
        <p class="quote">
            {% for author in item.authors %}
                {%- if author.style == "bold" -%}
                    <b>{{ author.name }}</b>
                {%- else -%}
                    {{ author.name }}
                {%- endif -%}
                {%- if forloop.last == false -%}, {% endif -%}
            {% endfor %}
            <br>
            {% for affiliation in item.affiliations %}
                {{ affiliation.name }}
                {%- if forloop.last == false -%}&nbsp&nbsp&nbsp&nbsp{% endif -%}
            {% endfor %}
        </p>
        
        {%- if item.abstract -%}
          <!-- Feather icon toggle -->
          <div style="text-align: center;">
              <span id="toggle-button" onclick="toggleContent()" style="cursor: pointer; font-size: 16px;">
                  <i id="toggle-icon" data-feather="chevron-right" style="vertical-align: middle;"></i>
                  <span id="toggle-text" style="font-size: inherit;">Abstract</span>
              </span>
          </div>

          <div id="abstract" style="display: none;">
              {{ item.abstract | strip | markdownify }}
          </div>

          <script>
          function toggleContent() {
              var content = document.getElementById("abstract");
              var toggleIcon = document.getElementById("toggle-icon");

              if (content.style.display === "none") {
                  content.style.display = "block";
                  toggleIcon.setAttribute('data-feather', 'chevron-down');
              } else {
                  content.style.display = "none";
                  toggleIcon.setAttribute('data-feather', 'chevron-right');
              }
              feather.replace();  // Re-render Feather icons after changing
          }
          </script>
          <script>
              feather.replace();  // Initialize Feather Icons
          </script>
        {%- endif -%}

    </div>
  </div>
{% endfor %}
