{% for item in include.content %}
  <div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-{{item.border | default: 'no'}}">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
        <h4 id="{{ item.title | slugify }}">{{ item.title }}</h4>
        {%- if item.sub_title -%}<p><b>{{ item.sub_title | newline_to_br }}</b></p>{%- endif -%}
        {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}

        {%- if item.link -%}
            {% include a.html href=item.link class="link" %}
              {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
            </a>
        {%- endif -%}

    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">

        <style>
            .columns-edu {
              display: flex;
              justify-content: space-between;
            }
            .column-edu1 {
              width: 83%;
              font-size: 16px;
            }
    
            .column-edu2 {
              width: 13%;
              font-size: 16px;
              text-align: left;
              margin-top: auto;
              margin-bottom: auto;
            }
    
            @media (max-width: 768px) {
              .columns-edu {
                flex-direction: column;
              }
              .column-edu1 {
                width: 100%;
              }
    
              .column-edu2 {
                width: 25%;
                margin: 0 auto;
                text-align: center;
              }
            }
        </style>

        <div class="columns-edu">
          <div class="column-edu1">
            <p class="quote">{{ item.quote }}</p>
            {{ item.description | strip | markdownify }}
          </div>
          <div class="column-edu2">
            <img src="{{ item.img }}" alt="{{ item.sub_title }}" class="img-responsive">
          </div>
        </div>
    </div>

  </div>
{% endfor %}
