.dark {
  background-color: #222;
  color: #e6e6e6;
}

.dark {
  mark {
    color: #222;
    background-color: #e6e6e6;
  }
  
  a {
    //color: #477dca;
    color: #9B5DE5;
  }

  a:hover {
    color: #5F34A3;
  }
}
